.home{
    padding: 0px 10px;
    padding-bottom: 100px;
}
.hero{
    max-width: 600px;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
}
.hero h1{
    font-size: max(3vw,25px);
}
.hero p{
    width: 75%;
    color: #e3e3e3;
    line-height: 1.5;
    font-size: 20px;
}
.hero form{
    padding: 8px;
    width: 80%;
    background-color: white;
    border-radius: 5px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.hero input{
    flex: 1;
    font-size: 16px;
    outline: none;
    border: none;
    padding-left: 10px;
}
.hero button{
    border: none;
    background: #5163a6;
    color: white;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
}
.crypto-table{
    max-width: 800px;
    margin: auto;
    background: linear-gradient(#323232, #2e2e2e, #272727);
    border-radius: 15px;
}
.table-layout{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1.5fr;
    padding: 15px 20px;
    align-items: center;
    border-bottom: 1px solid #3c3c3c;
}
.table-layout:last-child{
    border: none;
}
.market-cap{
    text-align: right;
}
.table-layout div{
    display: flex;
    align-items: center;
    gap: 10px;
}
.table-layout div img{
    width: 25px;
}
.table-layout .green{
    color: #6af591;
    text-align: center;
}
.table-layout .red{
    color: #e44747;
    text-align: center;
}
@media (max-width: 768px) {
    .table-layout{
        grid-template-columns: 0.5fr 3fr 1fr 1fr;
    }
    .market-cap {
        display: none;
    }
}
@media (max-width: 500px) {
    .table-layout div img{
        width: 25px;
    }
    .table-layout{
        font-size: 12px;
    }
    .hero form input{
        width: 100px;
    }
    .hero{

        padding-left: 5px;
        padding-right: 5px;
        gap: 20px;
        margin: 50px auto;
    }
    .hero p{
        font-size: 15px;
    }
    .home{
        padding-bottom: 50px;
    }
}